<div class="container text-center" *ngIf="company">
  <!--<div class="container text-center">-->
  <div class="itemFull">
    <div class="itemHeader">
      <h1>{{ company.name }} </h1>
    </div>
    <div class="row itemDetail">
      <div class=" col-4 itemFacts">
        <img [src]="company.pictureUrl" class="img-fluid rounded-start" alt="...">
        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-fluid rounded-start" alt="..."> -->
      </div>

      <div class="col-8 itemSummary">
        <p><i class="fa-solid fa-industry"></i>{{company.name}}</p>
        <table>
          <tr>
            <td><i class="fa-regular fa-compass"></i></td>
            <td>{{company.street}}</td>
          </tr>
          <tr>
            <td></td>
            <td>{{company.city}}</td>
          </tr>
        </table>

        <p>
          <br>Aantal vacatures: {{ numberOfVacancies }}
          <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="company.vacancies.length > 0"
            (click)="listVacancies(company.id)">Show
            vacancies</button>
        </p>
      </div>
    </div>
  </div>
</div>