<div class="container text-center" *ngIf="vacancy">
  <div class="vacancyFull">
    <div class="vacHeader">
      <h1>{{vacancy.functionTitle}}</h1>
    </div>
    <div class="row vacDetail">
      <div class=" col-4 vacFacts">
        <p><i class="fa-solid fa-industry"></i>{{vacancy.company.name}}<br>
          <i class="fa-regular fa-compass"></i> Leuven<br>
          REF: 1<br>
          Online sinds: {{vacancy.publishDate}}<br>
          Solliciteren voor: {{vacancy.closingDate}}
        </p>
        <button type="button" class="btn btn-info" (click)="apply(vacancy.id)">Ik solliciteer!</button>
      </div>

      <div class="col-8 vacSummary">
        <p>{{vacancy.jobDescriptionContent}}</p>
        <p><span class="focus">Wat bieden we?</span> {{vacancy.offerContent}}</p>
        <p><span class="focus">Wie zoeken we?</span> {{vacancy.profileContent}}</p>
      </div>
    </div>
  </div>
</div>

<!-- REAL CONTENT ONCE API FUNCTIONS
<div *ngIf="vacancy">
  <div class="vacHeader">
    <h1>{{vacancy.functionTitle }}</h1>
    <p>{{vacancy.company.name}}</p>
    <p>{{vacancy.location}}</p>
    <button>Ik solliciteer</button>
  </div>
  <div class="vacDetail">
    <div class="vacFacts">
      <p>REF: {{vacancy.id}}</p>
      <p>Online sinds: {{vacancy.publishDate | date:'dd/MM/yyyy' }}</p>
      <p>Solliciteren v&oacute;&oacute;r: {{vacancy.closingDate | date:'dd/MM/yyyy' }}</p>
    </div>

    <div class="vacSummary">
      <p>{{vacancy.jobDescriptionContent}}</p>
      <p>Wij bieden: {{vacancy.offerContent}}</p>
      <p>Wie zoeken we: {{vacancy.profileContent}}</p>
    </div>
  </div>
</div>
-->