<!-- MOCK CONTENT SINCE API gtById-function not yet OK -->
<div class="container text-center">
<div class="vacancyFull">
  <div class="vacHeader">
    <h1>IIOT Software Engineer</h1>
  </div>
  <div class="row vacDetail">
    <div class=" col-4 vacFacts">
      <p><i class="fa-solid fa-industry"></i>Smartbyte bv<br>
        <i class="fa-regular fa-compass"></i> Leuven<br>
      REF: 1<br>
      Online sinds: 11/08/2022<br>
      Solliciteren v&oacute;&oacute;r: 16/08/2022</p>
      <button type="button" class="btn btn-info">Ik solliciteer!</button>
    </div>

    <div class="col-8 vacSummary">
      <p>Ons groeiend IIoT team heeft de opdracht om onze machines nog slimmer te maken door handig gebruik te maken van de beschikbare data.</p>
      <p><span class="focus">Wat bieden we?</span> Een uitdagende en afwisselende functie in een hoogtechnologische werkomgeving</p>
      <p><span class="focus">Wie zoeken we?</span> Je behaalde een bachelor of master in toegepaste informatica of computer science, of je hebt gelijkwaardige ervaring opgebouwd.</p>
    </div>
  </div>
</div>
</div>

<!-- REAL CONTENT ONCE API FUNCTIONS
<div *ngIf="vacancy">
  <div class="vacHeader">
    <h1>{{vacancy.functionTitle }}</h1>
    <p>{{vacancy.company.name}}</p>
    <p>{{vacancy.location}}</p>
    <button>Ik solliciteer</button>
  </div>
  <div class="vacDetail">
    <div class="vacFacts">
      <p>REF: {{vacancy.id}}</p>
      <p>Online sinds: {{vacancy.publishDate | date:'dd/MM/yyyy' }}</p>
      <p>Solliciteren v&oacute;&oacute;r: {{vacancy.closingDate | date:'dd/MM/yyyy' }}</p>
    </div>

    <div class="vacSummary">
      <p>{{vacancy.jobDescriptionContent}}</p>
      <p>Wij bieden: {{vacancy.offerContent}}</p>
      <p>Wie zoeken we: {{vacancy.profileContent}}</p>
    </div>
  </div>
</div>
-->
