<article *ngIf="vacancy">

    <h4>{{ vacancy.functionTitle }}</h4>
    <span>Bedrijf: {{ vacancy.company.name }}</span>
    <!-- <h4>{{ vacancy.jobDescriptionTitle }}</h4>

        <p>
            {{ vacancy.jobDescriptionContent }}
        </p>
        <h4>Candidate Profile</h4>
        <p>
            {{ vacancy.profileContent }}
        </p>
        <h4>Offer</h4>
        <p>
            {{ vacancy.offerContent }}
        </p>

        <footer>
            <p>Author: {{ vacancy.author }}, Published: {{ vacancy.publishDate }}</p>
            <p>Editor: {{ vacancy.editor }}</p>
        </footer> -->

</article>