<h1>Login</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
</div>
<form (ngSubmit)="onSubmit()" #authForm="ngForm">
    <div class="form-group" *ngIf="!isLogin">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname" class="form-control" [(ngModel)]="user.firstName">
    </div>
    <div class="form-group" *ngIf="!isLogin">
        <label for="lastname">Last name</label>
        <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="user.lastName">
    </div>
    <div class="form-group">
        <label for="userName">User Name (e-mail)</label>
        <input type="email" name="userName" id="userName" class="form-control" [(ngModel)]="user.userName" required
            email>
    </div>
    <div class="form-group mb-4">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" minlength="4"
            [(ngModel)]="user.password" required="">
    </div>
    <input name="login" id="login" class="btn btn-block btn-primary mb-4" type="submit" value="Login"
        [disabled]="!authForm.form.valid || isSubmitted">
</form>

<p class="login-wrapper-footer-text">Don't have an account? <a href="/register">Register here</a></p>